div#general { width: 2000px; height: 2000px; margin: 0 auto; }
div#header { float: left; position: absolute; left: 500px; width: 150px; padding-top: 100px; }
div#content { float: right; width: 630px; }